<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='联系我们',active='contact'">
<div th:replace="/user/header::header(${title},${active})"></div>
<body>

        <section class="top-header countact-us-header with-bottom-effect transparent-effect dark dark-strong">
            <div class="bottom-effect"></div>
            <div class="header-container">	
                <div class="header-title">
                    <div class="header-icon"><span class="icon icon-Wheelbarrow"></span></div>
                    <div class="title">联系我们</div>
                    <em>######</em>
                </div>
            </div><!--container-->
        </section>  

        <section class="countact-us-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="contact-form">
                            <div class="form-heading">
                                <h3>发送留言</h3>
                            </div>
                            <form method="post" name="contact-form" id="contact-form">
                                <div id="response"></div>
                                <div class="row"> 
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="name" id="name"  placeholder="称呼" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="num" id="num" placeholder="手机号码" class="form-control" />
                                        </div>
                                    </div> 

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" name="content" id="content" placeholder="留言内容"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button type="button" id="sendSubmit" onclick="subContent()" class="btn btn-success btn-sm waves-effect waves-light m-b-7"value="发送">发送</button>
                                        </div>
                                    </div> 
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 col-sm-6">
                                <div class="contact-map" >
                                    <div id="contactMap"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
        <div th:replace="/user/footer::footer"></div>
        <script  th:inline="javascript" >
            var tale = new $.tale();
          function  subContent(){
         var name=$("#name").val();
         var num=$("#num").val();
         var content=$("#content").val()
              console.log(name);
              $.ajax({
                  type: 'post',
                  url: '/contact',
                  data: {name:name,num:num,content:content},
                  async: false,
                  dataType: 'json',
                  success: function (result) {
                      if (result && result.success) {
                          console.log("121");
                          tale.alertOkAndReload('留言成功');
                      } else {
                          if (result.msg) {
                              tale.alertOkAndReload(result.msg);
                          }
                      }
                  }
              });
          }

            </script>


</body>
</html>

