<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="/user/header::header"></div>
<body>

<div class="background">
<div class="main-content index-page clearfix">
    <div class="post-lists">
        <div class="post-lists-body">
            <div class="post-list-item" th:each="article: ${articles}">
                <div class="post-list-item-container">
                    <a th:href="${commons.permalink(article)}" class="item-thumb  bg-deepgrey"
                       th:style="'background-image:url('+@{/img/show6.jpg}+');background-size: 400px auto;'">-
                    </a>
                    <div class="item-slant reverse-slant &lt; bg-deepgrey"></div>
                    <div class="item-slant"></div>
                    <div class="item-label">
                        <div class="item-title"><a th:href="${commons.permalink(article)}"
                                                   th:text="${article.title}"></a>
                        </div>
                        <div class="item-meta clearfix">
                            <div th:class="'item-meta-ico'"
                                 th:style="'background: url('+@{/user/img/bg-ico.png}+');no-repeat;background-size: 40px auto;' "></div>
                            <div class="item-meta-cat" th:utext="${commons.show_categories(article.categories)}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<div th:replace="/user/footer::footer"></div>
</html>
