.img-thumbnail{
    width:150px;
}
.background{
    max-width: 100%;
    background-color: #1a1a1a;
}
.index-page{
    padding: 120px 20px 0;
}
.main-content{
    max-width: 940px;
    margin: 0 auto;
    -webkit-animation: fade-in .5s;
    animation: fade-in;
    animation-duration: .5s;

}
.clearfix{
    zoom: 1;
}
.post-lists{
    position: relative;
    display: block;
    overflow: hidden;
}
.post-lists-body{
    display: block;
}
.post-list-item{
    float: left;
    width:33.3333%;
    height: auto;
    padding: 15px;
    align-items: center;
}
.post-list-item-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 0;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
}

.post-list-item-container .item-thumb {
    position: relative;
    display: inherit;
    min-height: 250px;
    background-position: 50% 50%;
    background-size: cover;
}
.bg-deepgrey {
    background-color: #8997aa!important;
}
a {
    text-decoration: none;
    color: #313131;
    outline: 0;
}
.post-list-item-container .item-label {
    position: relative;
    height: 130px;
    padding: 15px 20px 15px;
    background-color: #fff;
}
.item-meta{
    text-align: right;

}
.item-title{
    font-size: 15px;
    height: 70px;
}

.post-page {
    max-width: 700px;
    padding: 130px 25px 20px;
}
.main-content {
    max-width: 940px;
    margin: 0 auto;
    -webkit-animation: fade-in .5s;
    animation: fade-in;
    animation-duration: .5s;
}
.backgroundPost{
    background-color: #a0a0a0;
}
.post-title{
font-size: 25px;

}
.post-data{
padding-top:10px;
    font-size: 10px;
}
.post-content{

}